h1{
    color:red;
    font-size:18px;
    padding:20px;
}

ul{
    list-style-type:square;
}

a:link{
    color:green;

}

a:visited{
    color:red;
}

p{
    font-family:"Arial","Helvetica",sans-serif;
    font-weight:bold;
    padding:20px;
}

#firstH{
    position:absolute;top:20px;left:300px;

}

#frenchie{
    position:absolute;top:350px;left:300px;
    padding: 20px;
    background-color: silver;
    border-style: solid;
    border-width: 5px;
    border-color: pink;
}